[submodule "go-jlu-drcom-client"]
        path = go-jlu-drcom-client
        url = git://github.com/wucongyou/go-jlu-drcom-client.git
[submodule "dr-jlu-win32"]
	path = dr-jlu-win32
	url = https://github.com/ImFengLala/dr-jlu-win32

[submodule "jlu-drcom-dotnet"]
	path = jlu-drcom-dotnet
	url = https://github.com/leviolet/DrcomDotnet
